html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-page-color: #ffffff;
  --secondary-page-color: #2f303a;
  --third-page-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-page-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* container */

.container {
  width: 1200px;
}

/* section */

.section {
  padding: 94px 0px;
}

/* index and portfolio both */

.list {
  list-style: none;
}

/* header */

.page-header {
  background-color: var(--main-page-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
  text-decoration: none;
  /* padding: 24px 93px 25px 215px; */
  /* justify-content: flex-start; */
}

.header-logo:hover,
.header-logo:focus {
  background-color: var(--main-page-color);
}

.web-part {
  color: var(--accent-color);
}

.nav-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.nav-item:hover {
  color: var(--accent-color);
}

.nav-item:focus {
  color: var(--main-text-color);
}

.link-current {
  color: var(--accent-color);
}

.nav-mail {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.nav-mail:hover {
  color: var(--accent-color);
}

.nav-mail:focus {
  color: var(--main-text-color);
}

.nav-phone {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.nav-phone:hover {
  color: var(---accent-color);
}

.nav-phone:focus {
  color: var(--main-text-color);
}

/* footer */

.page-floor {
  background-color: var(--secondary-page-color);
}

.floor-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-page-color);
  text-decoration: none;
}

.floor-logo:hover,
.floor-logo:focus {
  background-color: var(--secondary-page-color);
}

.location {
  font-style: normal;
  line-height: 1.71;
  color: var(--main-page-color);
  text-decoration: none;
}

.location:hover {
  color: var(--accent-color);
}

.location:focus {
  color: var(--secondary-text-color);
}

.floor-mail {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.floor-mail:hover {
  color: var(--accent-color);
}

.floor-mail:focus {
  color: var(--secondary-text-color);
}

.floor-phone {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.floor-phone:hover {
  color: var(--accent-color);
}

.floor-phone:focus {
  color: var(--secondary-text-color);
}

/* index.html  */

/* Hero */

.hero {
  background-color: var(--secondary-page-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-page-color);
  max-width: 696px;
  /* text-align: center; */
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  border-radius: 4px;
}

.button:hover {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.button:focus {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* Benefits  */

.benefits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.benefits-caption {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.benefits-text {
  line-height: 1.14;
  color: var(--secondary-text-color);
  max-width: 270px;
}

/* Operation */

.operation {
  background-color: var(--main-page-color);
}

.operation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  text-align: center;
}

.operation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Team */

.team {
  background-color: var(--third-page-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

/* portfolio.html  */

/* Projects */

.project {
  background-color: var(--main-page-color);
}

.projects-buttons {
  background-color: var(--main-page-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.project-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-text-color);
  background-color: var(--third-page-color);
  border: var(--third-page-color);
  border-radius: 4px;
}

.project-btn:hover {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
}

.project-btn:focus {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
}

.projects-title {
  visibility: hidden;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.project-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
